body {
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

input {
  border-radius: 5px;
}

/*-------------HEADER SECTION----------------*/

header {
  text-align: center;
  padding: 1em 0;
  background-color: #D24649;
}

#logo {
  width: 8em;
}

input[type="submit"] {
  padding: 0.25em 1em;
  background-color: #46D26C;
  border: none;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

input[type="submit"]:hover {
  background-color: #69EF8E;
}

input[type="text"] {
  padding: 0.5em;
  font-weight: 300;
  border: none;
}

input:focus {
  outline: none;
}

#search-verify > h3 {
  font-weight: 300;
}

.error {
  color: red;
  font-style: italic;
  margin-top: 2em;
}

.error-container {
  margin-top: 1em;
}

#status-container {
  width: 10em;
  height: 1em;
  border: 1px solid #333;
  margin: 0 auto;
  border-radius: 5px;
}

#status-bar {
  width: 1em;
  height: 1em;
  background-color: lightblue;
  -webkit-animation: slide 2s infinite alternate;
  border-radius: 50%;
}

#location {
  margin-top: 1em;
}

@-webkit-keyframes slide {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 9em;
  }
}

/*--------------------------ERROR SECTION----------------------------*/

#error-section {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
}

.food {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/header-background.jpg');
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/header-background.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/header-background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 6em;
}

#description {
  width: 19em;
  margin: 0 auto; 
  color: #fff;
}

#description > h1 {
  margin-top: 0;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #69EF8E;
}

#description > h3 {
  line-height: 1.4;
  letter-spacing: 1px;
  color: #eee;
  font-weight: 300;
}

#search-results > h3 {
  margin-top: 0.5em;
}

#search-error > p {
  max-width: 20em;
  margin: 0 auto;
}

/*----------------------------RESULTS SECTION----------------------------*/

#results {
  padding: 1em 0;
}
ul {
  list-style: none;
  padding: 0;
}

#venue > li {
  padding: 1.5em 1em 2em 1em;
  width: 18.75em;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 2em;
  border: 1px solid #ccc;
  box-shadow: -2px 3px 3px #ccc;
}

#results img {
  border-radius: 5px;
}

#results h3 {
  color: #851F21;
  margin-top: 0;
}

.rating {
  padding: 0.5em;
  border-radius: 50%;
  background-color: #128531;
  color: #fff;
}

.rating-container {
  margin-top: 1em;
}

.rating-container p{
  display: inline-block;
  font-size: 1em;
  opacity: 0.5;
  margin-top: 0;
}

.city {
 margin-top: 0em;
}

.address {
  margin-bottom: 0;
}

.likes {
  background-color: #C68889;
  padding: 0.25em 0;
  color: #fff;
  border-radius: 5px;
  width: 25%;
  display: inline-block;
  position: relative;
  left: 1em;
  text-align: center;
}

.rating {
  width: 1.5em;
  display: inline-block;
}

.full-address {
  width: 50%;
  display: inline-block;
  margin-left: 0.25em;
  position: relative;
  top: 1em;
  left: 1em;
  opacity: 0.5;
}

#venue-data {
  display: inline-block;
}

.default-img {
  padding: 4em 0.5em;
  background-color: #D24649;
  border-radius: 5px;
  width: 18em;
}

#quote {
  font-style: italic;
  color: #333;
  font-weight: 200;
}

.userTips.ng-enter,
.userTips.ng-leave.ng-leave-active {
  opacity: 0;
}

.userTips.ng-leave,
.userTips.ng-enter.ng-enter-active {
  opacity: 1em;
}

.userTips {
  border: 1px solid #eee;
  padding: 0.5em;
  border-radius: 5px;
  margin-top: 1em;
  background-color: #eee;
  transition: all linear 0.5s;
}

#tips-btn {
  border-radius: 5px;
  background-color: #46D26C;
  color: #fff;
  border: none;
  letter-spacing: 1px;
  padding: 0.5em 0;
  display: block;
  width: 100%;
  margin: 1em auto 0 auto;
}

#tips-btn:hover {
  background-color: #69EF8E;
}

#tips-btn:focus {
  outline: none;
}

.red {
  color: #FF6E72;
  font-style: italic;
}

/*------------------MEDIA QUERIES-----------------*/

@media only screen and (max-width: 375px) {
  #logo {
    margin-bottom: 0.75em;
  }
}

@media only screen and (min-width: 400px) {

  #venue > li {
    padding-right: 2em;
    padding-left: 2em;
  }
}

@media only screen and (min-width: 410px) {
  #tag {
    margin: 0 1em;
  }
}

@media only screen and (min-width: 565px) {
  #description {
    width: 25em;
  }
}

@media only screen and (max-width: 700px) {
  #error-section {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (min-width: 750px) {
  #logo,
  input[type="submit"] {
    display: inline-block;
    margin-left: 1em;
  }

  input[type="text"] {
    margin-top: 0;
  }

  #logo {
    display: inline-block;
    float: left;
    position: relative;
    top: 0.5em;
  }

  form {
    position: relative;
    bottom: 0.5em;
  }
}

