<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Instagram Searcher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.15/angular-animate.min.js"></script>
        <script src="https://code.angularjs.org/1.3.15/angular-messages.min.js"></script>
    </head>
    <body ng-controller="searchCtrl">
      <header>
          <img id="logo" src="img/logo.png" alt="Logo image">
          <form name="myForm" novalidate ng-submit="submit()">
              <input type="text" name="tag" id="tag" placeholder="Enter a tag to search" ng-model="searchTag" required ng-minlength="2">
              <input type="submit" name="Submit">
          </form>
          <div ng-if="myForm.$submitted" ng-messages="myForm.tag.$error">
              <span class="error" ng-message="required">Field is required!</span>
              <span class="error" ng-message="minlength">Field is too short!</span>
          </div>
          <div id="search-verify" ng-if="validation">
              <h3>Searching Instagram for photos tagged with "{{searchTag}}"</h3>
          </div>
      </header>
        

        <script src="js/main.js"></script>
    </body>
</html>
