<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Instagram Searcher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

        <script src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.15/angular-animate.min.js"></script>
        <script src="https://code.angularjs.org/1.3.15/angular-messages.min.js"></script>
    </head>
    <body ng-controller="searchCtrl">
      <header>
        <div class="container">
          <img id="logo" src="img/snack-logo.svg" alt="Logo image">

          <form name="myForm" novalidate ng-submit="myForm.$valid && submit()">
              
              <input type="text" name="tag" id="tag" placeholder="e.g. Steak" ng-model="searchTag" required ng-minlength="2">

              <input type="text" name="location" id="location" placeholder="e.g. Nanticoke, PA" ng-model="userLocation" required ng-minlength="2">
              
              <input type="submit" name="submit" value="Search">

          </form>

          <div class="error-container" ng-if="myForm.$submitted" ng-messages="myForm.tag.$error">

              <span class="error" ng-message="required">Field is required!</span>

              <span class="error" ng-message="minlength">Field is too short!</span>
          </div>
          
        </div>
      </header>

      <section id="error-section" ng-class="{food:notSubmitted === true}">
          <div id="description" ng-hide="myForm.$submitted">
            <h1>Find food in your area</h1>
            <h3>Just enter the type of food your looking for and your location. SnackShack will give you a list of venues with specific details for each.</h3>
          </div>

          <div id="search-verify" ng-show="loading" ng-animate>
              <h3>Searching for "{{searchTag}}" in {{userLocation}}...</h3>
              <div id="status-container">
                  <div id="status-bar"></div>
              </div>
          </div>

          <div id="search-results" ng-show="searchResults">
              <h3>Displaying results for <span class="red">{{searchTerm}}</span> in <span class="red">{{locationTerm}}</span></h3>
          </div>

          <div id="search-error" ng-show="noResults">
            <h3>Looks like your search returned no results. Please try again.</h3>
            <p>Tip: Make sure your location includes a city and state in the format: Chicago, IL</p>
          </div>

      </section>  
      
      <section id="results" class="container" ng-hide="noResults">
         
          
            <ul id="venue" ng-repeat="place in places">
                <li>
                  <h3>{{place.venue.name}}</h3>
                  <img ng-if="place.venue.photos.count !== 0" ng-src="{{place.venue.photos.groups[0].items[0].prefix + photoSize + place.venue.photos.groups[0].items[0].suffix}}" alt="Venue Image">
                  <img class="default-img" ng-if="place.venue.photos.count === 0" ng-src="img/snack-logo.svg" alt="Default Image">

                  <div>
                    <div class="rating">{{place.venue.rating || 'NR'}}</div>
                    <div class="full-address">
                      <p class="address">{{place.venue.location.address || 'No address listed'}}</p>
                      <p class="city">{{place.venue.location.city}}</p>
                    </div>
                    <div class="likes">{{place.tips[0].likes.summary || '0 Likes'}}</div>
                  </div> 
                  
                  <button id="tips-btn" ng-click="tabs = !tabs">View tips</button> 
                  
                  <div class="userTips" ng-if="tabs" ng-app="ngAnimate">
                    <span>{{place.tips[0].user.firstName || 'No tips listed'}}-</span><span id="quote"> "{{place.tips[0].text}}"</span>
                  </div> 

                  <div class="menu-section">
                    <ul ng-repeat="item in items">
                      <li>
                        <button id="menu-btn" ng-if="place.venue.hasMenu" ng-click="getMenu(place.venue.id)">Menu</button>
                        <h3>{{item.name}} {{item.price}}</h3>
                      </li>

                    </ul>
                  </div>
                </li>
            </ul>
              
          
      </section>
        

        <script src="js/main.js"></script>
    </body>
</html>
